@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #8c52fe;
}

.logo-gif {
  display: block;
  margin: 12px auto 0 auto;
  width: 300px;
  height: 300px;
}

.main-content {
  background-color: #f4f4f4;
  width: 23%;
  margin: 30px auto;
  padding: 60px 25px 25px;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-input {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 2px solid #bbbbbb;
  color: #555555;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 17px;
  margin: 6px 0 24px 0;
}

select {
  appearance: none;
}

label {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

span {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.main-button-convert {
  width: 100%;
  height: 55px;
  background-color: #772fd3;
  border-radius: 5px;
  border: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 36px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  transition: 0.3s;
}

.main-button-convert:hover {
  opacity: 0.9;
}

.main-button-convert:active {
  opacity: 0.7;
}

.main-box {
  border: 2px solid #772fd3;
  width: 100%;
  height: auto;
  border-radius: 20px;
  text-align: center;
}

.img-coin {
  width: 50px;
  height: 50px;
  margin: 15px 0 0 0;
}

p {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.value {
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
